<div class="container">
 <div class="row mt-5">
  <div class="col-md-2"></div>
    <div class="col-md-9">
     <h1 style="text-align:center">About</h1><br>
      <h5>
        　　　　　　　ながのCAKEは全国発送可能なケーキ屋産です。<br>
        　　　　　お子様からお年寄りの片目でお召し上がりいただけるよう、<br>
        　　　　　　　　様々なバリエーションをご用意しております。<br>
       　　 また、全国へ発送可能ですので、「いつ」でも「どこ」でもご注文いただけます。<br>
        　　　　　　　　　　　　　　ぜひご注文ください。
      </h5>
    <%= image_tag 'about.jpg', size: '800x500' %>
   </div>
  </div>
 </div>
</div>