/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';


red {
	height: 300px;
	background-color: red;
}

.top {
  position: relative;
}

.top_image{
  width: 100%;
  height: 100%;

  top: 0;
  left: 0;
  opacity: 0.5;
}

.top p {
  position: absolute;
  top: 50%;
  left: 42%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  form_weight: bold;
  font-size: 1.1em;
}

li {
 width: 25%;
 list-style: none;
 border-radius: 5px;
}

.item {
  display: flex;
  flex-wrap: wrap;
}

.item li{
  width: 25%;
}

.cart p{
  margin-bottom: 40px;
}

ul {
  display :flex;
  flex-wrap: wrap;
}